@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4
    hover:text-indigo-600 hover:rounded-xl hover:shadow-xl hover:cursor-pointer;
  }
  /* button {
    @apply text-white border bg-indigo-600 border-indigo-600 drop-shadow-md
    hover:bg-transparent hover:text-indigo-600;
  } */
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track-piece {
  border: 1px black;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background: #5046e5;
}
body {
  overflow-x: hidden;
}
